
body {

    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    

    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  }

.Im {

  width: 30rem;
  height: 30rem;
}
  
.row {
  position: relative; }

  .row >.col  {
    
    
   
    padding: 0.1rem;

}
.row >.col-sm-2 {
    
    color: rgb(229, 236, 236);
    
  
    padding: 0.1rem;

}

.list-group-item{

  color: aliceblue;
  background-color: rgba(38, 37, 37, 0.495);
  border: solid 2px;
  border-color: rgba(57, 61, 64, 0.196);
  border-radius: 3px;
  padding: 0.1rem;

}

.row >.col-md-6 {
  
  
  border: solid 2px;
  border-color: rgba(57, 61, 64, 0.196);
  border-radius: 3px;
  padding: 0.1rem;


}

.ColorRespuestaCorrecta{

background-color: rgb(34, 255, 0);

}
.ColorRespuestaIncorrecta {
  background-color: rgb(255, 0, 25);

}

.lulo2{
  position: relative;
  width: 100%;
  
  
  }
.lulo {
  
  position: absolute;
   width: 100%;
  color: red;
  
 
}
.Historias{
display: none;

   }
.float-left {
  
  position: fixed;
  top: 20px;
  right: 20px;
}

.lulo1 {
  
  position: absolute;
   width: 100%;
  color: red;
 
}

.Invi{
background-color: rgb(255, 255, 255);
color: rgb(255, 255, 255);  

}

.Pausa{
  position: fixed;
  bottom: 0px;
  z-index: 10;
 

}

#RespuestaUsuario {
  position: relative;
  border-radius: 2%;
  border: 1% solid red;
}